@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 20px;
    font-family: Sedgwick Ave Display;
    text-align: center;
}  

nav {
    display: flex;
    text-align: right;
    background-color: black;
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: Caveat;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#loginform{
    margin-left: 20px;
    margin-right: 50px;
}